---
import MainPageLayout from '@layouts/MainPageLayout.astro'
import Markdown from '@components/misc/Markdown.astro'
import Cover from '@components/Cover.astro'
import FabMenu from '@components/control/FabMenu.astro'

import { getSpec } from '@utils/content-utils'

import { siteConfig } from '@/config'
import i18nit from '@i18n/translation'
import { getEntry, render } from 'astro:content'
import { i18n } from "astro:config/client";

export async function getStaticPaths() {
	return i18n?.locales.map(locale => ({ params: { locale: locale == i18n?.defaultLocale ? undefined : (locale as string) } }));
}


const currentLang = Astro.currentLocale || i18n!.defaultLocale;
const t = i18nit(currentLang);

const aboutPost = await getSpec(currentLang, 'about');
if (!aboutPost) {
    throw new Error('No about post found');
}
const { Content } = await render(aboutPost);

const pageTitle = t("header.about") + " - " + siteConfig.title;
---
<MainPageLayout title={pageTitle} lang={currentLang}>
    <div class="mx-auto w-full max-w-[var(--page-width)]">
        <Cover title={t("cover.title.about")} subTitle={t("cover.subTitle.about")}/>
        <Markdown class="mb-6 markdown-content onload-animation">
            <Content />
        </Markdown>
    </div>
    <FabMenu showBackBottom={true} />
</MainPageLayout>