/* 滚动条样式 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    -webkit-overflow-scrolling: overlay;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

html {
    scrollbar-gutter: stable;
}