---
import "@styles/global.css"

interface Props {
    title?: string;
    subTitle?: string;
}

const { title, subTitle } = Astro.props;
---

<!-- Cover -->
<div class="text-center pt-5 pb-10 max-w-[var(--page-width)] mx-auto md:mt-0 mt-28">
    { title && <p class="text-[var(--text-color)] text-3xl py-5 font-bold">{ title }</p> }
    { subTitle && <p class="text-[var(--text-color-70)] font-bold">{ subTitle }</p> }
</div>
